/*
    --main-accent: #3A405A;
    --light-accent: #6D98BA;
    --cancel-accent: #ff6663;
 */

.root {
    -fx-font-size: 14pt;
    -fx-background-color: white;
}

#title {
    -fx-font-size: 20pt;
    -fx-padding-bottom: 10px;
}

.button {
    -fx-text-fill: #3A405A;
}

#btnLogin {
    -fx-text-fill: #FFF;
    -fx-background-color: #3A405A;
    -jfx-button-type: RAISED;
}


#btnCancel {
    -fx-text-fill: #ff6663;
}


#btnForgot {
    -fx-font-size: 11pt;
}

#password-notify {
    -fx-font-size: 11pt;
    -fx-text-fill: red;
}